body,
html {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    360deg,
    purple,
    blue
  ); /*linear-gradient() CSS function creates an image consisting of a progressive transition between two or more colors along a straight line.*/

  height: 100%;
}
h1 {
  color: rgb(221, 221, 237);
  font-family: "Arial Narrow", Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /*90% height of the parent element which is body and html in this case*/
}
.content {
  background-color: rgb(10, 19, 27);
  /*display: flex
  flex-direction: column
  align-items: center;
  justify-content: center; */
  text-align: center;

  padding: 20px;
  border-radius: 10px;
}
.logo {
  width: 200px;
  height: auto;
}
p {
  font-style: normals;
  color: rgb(190, 186, 186);
  font-size: 17px;
  font-weight: bolder;
  font-family: Arial, sans-serif;
}

input[type="email"] {
  /*targetting a specific input type which is email*/
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}
button {
  display: block; /* Makes the button a block-level element */
  /* Centers the block horizontally. Use a top margin to separate it from the input. */
  margin: 7px auto 0 auto; /*TOP , RIGHT, BOTTOM , LEFT 
  It tells the browser: "auto Take all the extra available space on the horizontal axis and divide it equally between the left margin and the right margin" */
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

button:hover {
  /*hover pseudo-class targets an element when the user designates it with a pointing device, but does not necessarily activate it. For example, when the user hovers the mouse pointer over a button, the button is in the hover state.*/
  background-color: rgb(100, 100, 255);
  color: white;
  cursor: pointer; /*cursor property specifies the mouse cursor to be displayed when pointing over an element.*/
}
.wave-background {
  /* Apply the EXACT same gradient as your body */
  background: black;
}
